<div class="row">
  <div class="col col-lg-12">
    <%= link_to 'Criar Orçamento', new_budget_path %><br/>
    <%= link_to 'Cadastrar Alta Temporada', new_high_season_path %><br/>
    <%= link_to 'Novo Passeio', new_tour_path %><br/>
  </div>
</div>
